<% include ../partials/head %>

  <div class="container">

    <h1><%= user.name %></h1>

    <% if (user.employee === null) { %>
      <div class="card-panel">
        <h4 class="card-title">Link with an Employee</h4>
        <div class="card-panel">
          <h5 class="card-title">Link with existing account</h5>
            <ul class="collection">
              <% if (employeeArray) { %>
                <form action="/user/<%=user._id%>/employee" method="post">
                  <% for (var i in employeeArray) { %>
                    <label>
                      <li class="collection-item">
                        <input class="with-gap" type="radio" name="employee" value="<%=employeeArray[i]._id%>" 
                          <% if (employeeArray[i].user !== undefined) { %>
                            disabled="disabled"
                          <% } %>/>
                        <span><%= employeeArray[i].name %></span>
                      </li>
                    </label>
                  <% } %>
                  <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              <% } %>
            </ul>
        </div>
        <p class="center-align">or</p>
        <div class="row card-panel">
          <h5>Add yourself as an employee of Bow Mark</h5>
          <form method="post" action="/employee/user/<%=user._id%>">
            <div class="input-field">
              <input id="name" type="text" class="validate" name="name">
              <label for="name">Employee Name</label>
            </div>
            <div class="input-field">
              <input id="jobTitle" type="text" class="validate" name="jobTitle">
              <label for="jobTitle">Job Title</label>
            </div>
            <input type="hidden" name="user" value="<%=user._id%>" />
            <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    <% } else { %>
      <div class="card-panel">
        <a class="user-delete secondary-content" onClick="if (confirm('Are you sure?')) {deleteRequest('<%= user._id %>')}" href=""><i class="material-icons">delete</i></a>
        <span class="card-title" style="font-weight: bold;">Linked With</span>
        <p class="card-content"><%= employeeArray[user.employee].name %> - <%= employeeArray[user.employee].jobTitle %></p>
      </div> 
    <% } %> 

  </div>

<% include ../partials/foot %>

<script>
  function deleteRequest(id) {
    $.ajax({
      type: 'PATCH',
      url: `http://localhost:3000/user/${id}/employee`
    });
    location.reload();
    alert('Link Removed');
  }
</script>
