<% include ../partials/head %>

<script src="/js/libs/mustache.js"></script>

<% if (array) { %>
  <ul class="collection">
    <% for (var result in array) {%>
      <li class="collection-item">
        <% id = array[result]._id %>
        <div id="user-<%= id %>-container">
          <div id="user-<%= id %>-content">
            <a class="user-delete secondary-content" onClick="if (confirm('Are you sure?')) {deleteRequest('<%= id %>')}" href=""><i class="material-icons">delete</i></a>
            <a class="user-edit secondary-content" onClick="editRequest('<%= id %>', '<%= array[result].name %>', '<%= array %>'); return false;" href=""><i class="material-icons">edit</i></a>
            <h3><a href="/user/<%=id%>"><%= array[result].name %></a></h3>
            <p><%= array[result].email %></p>
            <% if (!array[result]._id.equals(locals.user._id)) { %>
              <label>
                <input id="user-admin-toggle" onclick="adminToggle('<%= array[result]._id %>', this)" type="checkbox" class="validate" name="admin" 
                  <% if (array[result].admin == true) { %> checked="checked" <%}%> />
                <span>Admin</span>
              </label>
            <% } %>
          </div>
        </div>
      </li>
    <% } %>
  </ul>
<% } %>

<script>
  function deleteRequest(id) {
    $.ajax({
      type: 'DELETE',
      url: `/user/${id}`,
    });
    location.reload();
  }
  function editRequest(id, name, array) {
    var template = $('#user-edit-form-template').html();
    var html = Mustache.render(template, {id, name, array});
    $(`#user-${id}-content`).remove();
    $(`#user-${id}-container`).append(html);
  }
  function adminToggle(id, cb) {
    $.ajax({
      contentType: 'application/json',
      dataType: 'json',
      type: 'POST',
      url: `/user/${id}/update`,
      data: JSON.stringify({admin: cb.checked}),
      success: function() {
        location.reload();
      }
    });
  }
</script> 

<script id='user-edit-form-template' type="text/template">
  <div class="row card-panel user-{{id}}-content">
    <form method="post" action="/user/{{id}}/update">
      <div class="input-field">
        <input id="name" type="text" class="validate" name="name" value="{{name}}">
        <label class="active" for="name">Name</label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</script>

<% include ../partials/foot %>