<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
    <title><%= (typeof title != "undefined" ? title : "Bow Mark") %></title>
    <script src="/js/libs/jquery-3.3.1.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type='text/css' rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type='text/css' rel="stylesheet" href="/css/style.css" />
    <script src="/js/header.js"></script>
    <style>.pointer {cursor: pointer;}</style>
  </head>
  <body>
    <ul id="dropdown1" class="dropdown-content">
      <% if (!locals.user) {%>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      <% } else if (locals.user.admin) { %>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/hours">Hours</a></li>
        <li><a href="/jobsites">Jobsites</a></li>
        <li><a href="/crews">Crews</a></li>
        <li><a href="/employees">Employees</a></li>
        <li><a href="/vehicles">Vehicles</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/user/<%=locals.user._id%>"><%= locals.user.name %></a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/user/<%=locals.user._id%>"><%= locals.user.name %></a></li>
        <li><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper" id="navbar">
          <a href="/" class="brand-logo">Bow Mark</a>
          <ul class="right hide-on-sm-and-down">
            <li><a class="dropdown-trigger right" href="" data-target="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </div>
    <% if (messages.error) { %>
      <div class="row" id="alert-box">
        <div class="col s12 m12">
          <div class="card red darken-1">
            <div class="row">
              <div class="col s12 m2 right">
                <i class="material-icons right icon-white pointer" id="alert-close" aria-hidden="true">close</i>
              </div>
              <div class="col s12 m10">
                <div class="card-content white-text">
                  <%= messages.error %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if (messages.info) { %>
      <div class="row" id="alert-box">
        <div class="col s12 m12">
          <div class="card blue darken-1">
            <div class="row">
              <div class="col s12 m2 right">
                <i class="material-icons right icon-white pointer" id="alert-close" aria-hidden="true">close</i>
              </div>
              <div class="col s12 m10">
                <div class="card-content white-text">
                  <%= messages.info %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <% if (messages.success) { %>
      <div class="row" id="alert-box">
        <div class="col s12 m12">
          <div class="card green darken-1">
            <div class="row">
              <div class="col s12 m2 right">
                <i class="material-icons right icon-white pointer" id="alert-close" aria-hidden="true">close</i>
              </div>
              <div class="col s12 m10">
                <div class="card-content white-text">
                  <%= messages.success %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>