<% include partials/head %>

<script src="/js/crews.js"></script>
<script src="/js/libs/mustache.js"></script>

<div class="container">
  <div class="row">
      <h1>Crew List</h1>

      <a id="dropdown-crew-select" class='crewDropdown btn' href='' data-target='crew-select-dropdown'>Select Crew</a>

      <ul class="collection dropdown-content" id="crew-select-dropdown">
        <form>
          <% for (var i in crewArray) { %>
            <label>
              <li class="collection-item" id="crew-<%= crewArray[i]._id %>-item">
                <a class="crew-dropdown-select" data-target="crew-<%=crewArray[i]._id%>-container"><%= crewArray[i].name %></a>
              </li>
            </label>
            <% } %>
        </form>
      </ul>
  
      <div id="crew-form-div"></div>
    
      <div id="add-crew">
        <button class="btn waves-effect waves-light right" id="crew-form" onClick="loadForm()">Add Crew
          <i class="material-icons right">add</i>
        </button>
      </div>
  </div>

  <% if (crewArray) { %>
    <% for (var result in crewArray) { %>
      <% id = crewArray[result]._id %>
      <div class="collection-item card-panel hoverable" id="crew-<%=id%>-container">
        <div class="card-content" id="crew-<%=id%>-content">
          <a class="crew-delete secondary-content" onClick="if(confirm('Are you sure?')){deleteRequest('<%= id %>')}" href=""><i class="material-icons">delete</i></a>
          <a class="crew-edit secondary-content" onClick="editCrewRequest('<%= crewArray[result]._id %>', &quot;<%= crewArray[result].name %>&quot;, '<%= crewArray[result].type %>'); return false;" href=""><i class="material-icons">edit</i></a>
          <h3 class="card-title" style="font-weight: bold;"><a href="/crew/<%=id%>"><%= crewArray[result].name %></a></h3>
          <span><%= crewArray[result].type %> Crew</span>

          <% if (crewArray[result].employees.length > 0) { %>
            <h5>Employees: </h5>
            <div style="overflow: scroll; overflow-x: hidden; max-height: 50vh;">
              <ul class="collection">
                <% crewArray[result].employees.forEach((employee) => { %>
                  <% if (typeof employeeArray[employee] != 'undefined') { %>
                    <li class="collection-item">
                      <h6><a href="/employee/<%= employeeArray[employee]._id %>"><%= employeeArray[employee].name %></a></h6>
                      <span><%= employeeArray[employee].jobTitle %></span>
                    </li>
                  <% } %>
                <% }); %>
              </ul>
            </div>
          <% } %>

          <% if (crewArray[result].vehicles.length > 0) { %>
            <h5>Vehicles: </h5>
            <div style="overflow: scroll; overflow-x: hidden; max-height: 50vh;">
              <ul class="collection">
                <% crewArray[result].vehicles.forEach((vehicle) => { %>
                  <li class="collection-item">
                    <h6><a href="/vehicle/<%= vehicleArray[vehicle]._id %>"><%= vehicleArray[vehicle].name %></a>: <%= vehicleArray[vehicle].vehicleType %></h6>
                    <span><%= vehicleArray[vehicle].vehicleCode %></span>
                  </li>
                <% }); %>
              </ul>
            </div>
          <% } %>

          <% if (crewArray[result].jobsites.length > 0) { %>
            <h5>Jobsites: </h5>
            <div style="overflow: scroll; overflow-x: hidden; max-height: 50vh;">
              <ul class="collection">
                <% for(var j in jobArray) { %>
                  <% if (JSON.stringify(crewArray[result].jobsites).includes(jobArray[j]._id.toString())) { %>
                    <li class="collection-item">
                      <h6><a href="/jobsite/<%= jobArray[j]._id %>"><%= jobArray[j].jobcode %> - <%= jobArray[j].name %></a></h6>
                    </li>
                  <% } %>
                <% } %>
              </ul>
            </div>
          <% } %>

          <% if (employeeArray) { %>
            <div class="row">
              <div class="col-12">
                <a id="dropdown-employee-crew-<%= crewArray[result]._id %>" class='employeeDropdown btn' href='' data-target='crew-<%= crewArray[result]._id %>-employee-dropdown' style="width: 100%;">Select Employees</a>
              </div>
            </div>
            <ul class="collection dropdown-content" id="crew-<%= crewArray[result]._id %>-employee-dropdown">
              <form id="crew-<%= crewArray[result]._id %>-employee-form">
                <% for (var i in employeeArray) { %>
                  <label>
                    <li class="collection-item" id="employee-<%= employeeArray[i]._id %>-item">
                      <input type="hidden" class="id" id="crew-<%= crewArray[result]._id %>-id" value="<%= crewArray[result]._id %>" />
                      <input type="checkbox" class="newCrewMember" id="employee-<%= employeeArray[i]._id %>-checkbox" name="employee" value="<%= employeeArray[i]._id %>" 
                        <% crewArray[result].employees.forEach((employee) => {
                          if (employeeArray[i]._id.equals(employee)) {%>
                            checked="true"
                          <%}});%> />
                      <span>
                        <%= employeeArray[i].name %> - <%= employeeArray[i].jobTitle %>
                      </span>
                    </li>
                  </label>
                  <% } %>
              </form>
            </ul>
          <% } %>

          <% if (vehicleArray) { %>
            <div class="row">
              <div class="col-12">
                <a id="dropdown-vehicle-crew-<%= crewArray[result]._id %>" class='vehicleDropdown btn' href='' data-target='crew-<%= crewArray[result]._id %>-vehicle-dropdown' style="width: 100%;">Select Vehicles</a>
              </div>
            </div>
            <ul class="collection dropdown-content" id="crew-<%= crewArray[result]._id %>-vehicle-dropdown">
              <form id="crew-<%= crewArray[result]._id %>-vehicle-form">
                <% for (var i in vehicleArray) { %>
                  <label>
                    <li class="collection-item" id="vehicle-<%= vehicleArray[i]._id %>-item">
                      <input type="hidden" class="id" id="crew-<%= crewArray[result]._id %>-id" value="<%= crewArray[result]._id %>" />
                      <input type="checkbox" class="newCrewVehicle" id="vehicle-<%= vehicleArray[i]._id %>-checkbox" name="vehicle" value="<%= vehicleArray[i]._id %>" 
                        <% crewArray[result].vehicles.forEach((vehicle) => {
                          if (vehicleArray[i]._id.equals(vehicle)) {%>
                            checked="true"
                          <%}});%> />
                      <span>
                        <%= vehicleArray[i].name %> - <%= vehicleArray[i].vehicleCode %>
                      </span>
                    </li>
                  </label>
                  <% } %>
              </form>
            </ul>
          <% } %>

        </div>
      </div>
    <% } %>
  <% } %>  
</div>

<% include partials/foot %>

<script id='crew-form-template' type="text/template">
  <div class="row card-panel">
    <h3>Add an crew</h3>
    <form method="post" action="/crew">
      <div class="input-field">
        <input id="name" type="text" class="validate" name="name">
        <label for="name">Crew Name</label>
      </div>
      <div class="input-field">
        <input name="type" type="text" id="autocomplete-type" class="autocomplete-type" autocomplete="off" />
        <label for="autocomplete-type">Crew Type</label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</script>

<script id='crew-edit-form-template' type="text/template">
  <div class="row card-panel">
    <h3>Edit {{name}}</h3>
    <form method="post" action="/crew/{{id}}/update">
      <div class="input-field">
        <input id="name" type="text" class="validate" name="name" value="{{name}}">
        <label for="name">Crew Name</label>
      </div>
      <div class="input-field">
        <input name="type" type="text" id="autocomplete-type" class="autocomplete-type" autocomplete="off" value="{{type}}" />
        <label for="autocomplete-type">Crew Type</label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</script>