<% include partials/head %>

<script src="/js/crews.js"></script>

<div class="container">
  <h1>Crew List</h1>
  <% if (crewArray) { %>
    <% for (var result in crewArray) { %>
      <div class="collection-item card-panel hoverable">
        <div class="card-content">
          <% id = crewArray[result]._id %>
          <a class="crew-delete secondary-content" onClick="if(confirm('Are you sure?')){deleteRequest('<%= id %>')}" href=""><i class="material-icons">delete</i></a>
          <h3 class="card-title" style="font-weight: bold;"><%= crewArray[result].name %></h3>
          <ul class="collection">
            <% crewArray[result].employees.forEach((employee) => { %>
              <li class="collection-item">
                <h6><%= employeeArray[employee].name %></h6>
                <span><%= employeeArray[employee].jobTitle %></span>
              </li>
            <% }); %>
          </ul>

          <div class="row">
            <div class="col-12">
              <a id="dropdown-crew-<%= crewArray[result]._id %>" class='employeeDropdown btn' href='' data-target='crew-<%= crewArray[result]._id %>-dropdown' style="width: 100%;">Select Employees</a>
            </div>
          </div>
          <% if (employeeArray) { %>
            <ul class="collection dropdown-content" id="crew-<%= crewArray[result]._id %>-dropdown">
              <form id="crew-<%= crewArray[result]._id %>-employee-form">
                <% for (var i in employeeArray) { %>
                  <li class="collection-item" id="employee-<%= employeeArray[i]._id %>-item">
                    <label>
                      <input type="hidden" class="id" id="crew-<%= crewArray[result]._id %>-id" value="<%= crewArray[result]._id %>" />
                      <input type="checkbox" class="newCrewMember" id="employee-<%= employeeArray[i]._id %>-checkbox" name="employee" value="<%= employeeArray[i]._id %>" 
                        <% crewArray[result].employees.forEach((employee) => {
                          if (employeeArray[i]._id.equals(employee)) {%>
                            checked="true"
                          <%}});%> />
                      <span>
                        <%= employeeArray[i].name %> - <%= employeeArray[i].jobTitle %>
                      </span>
                    </label>
                  </li>
                  <% } %>
              </form>
            </ul>
          <% } %>
        </div>
      </div>
    <% } %>
  <% } %>

  <div id="crew-form-div"></div>

  <div id="add-crew">
    <button class="btn waves-effect waves-light right" id="crew-form" onClick="loadForm()">Add Crew
      <i class="material-icons right">add</i>
    </button>
  </div>
  
</div>

<% include partials/foot %>

<script id='crew-form-template' type="text/template">
  <div class="row card-panel">
    <h3>Add an crew</h3>
    <form method="post" action="/crew">
      <div class="input-field">
        <input id="name" type="text" class="validate" name="name">
        <label for="name">Crew Name</label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</script>