<% include partials/head %>

<script src="/js/crews.js"></script>

<div class="container">
  <h1>Crew List</h1>
  <% if (crewArray) { %>
    <% for (var result in crewArray) { %>
      <div class="collection-item card-panel hoverable">
        <div class="card-content">
          <% id = crewArray[result]._id %>
          <a class="crew-delete secondary-content" onClick="if(confirm('Are you sure?')){deleteRequest('<%= id %>')}" href=""><i class="material-icons">delete</i></a>
          <h3 class="card-title" style="font-weight: bold;"><%= crewArray[result].name %></h3>

          <% if (crewArray[result].employees.length > 0) { %>
            <h5>Employees: </h5>
            <ul class="collection">
              <% crewArray[result].employees.forEach((employee) => { %>
                <li class="collection-item">
                  <h6><%= employeeArray[employee].name %></h6>
                  <span><%= employeeArray[employee].jobTitle %></span>
                </li>
              <% }); %>
            </ul>
          <% } %>

          <% if (crewArray[result].vehicles.length > 0) { %>
            <h5>Vehicles: </h5>
            <ul class="collection">
              <% crewArray[result].vehicles.forEach((vehicle) => { %>
                <li class="collection-item">
                  <h6><%= vehicleArray[vehicle].name %></h6>
                  <span><%= vehicleArray[vehicle].vehicleType %></span>
                </li>
              <% }); %>
            </ul>
          <% } %>

          <% if (crewArray[result].jobsites.length > 0) { %>
            <h5>Jobsites: </h5>
            <ul class="collection">
              <% crewArray[result].jobsites.forEach((jobsite) => { %>
                <li class="collection-item">
                  <h6><%= jobArray[jobsite].name %></h6>
                </li>
              <% }); %>
            </ul>
          <% } %>

          <% if (employeeArray) { %>
            <div class="row">
              <div class="col-12">
                <a id="dropdown-employee-crew-<%= crewArray[result]._id %>" class='employeeDropdown btn' href='' data-target='crew-<%= crewArray[result]._id %>-employee-dropdown' style="width: 100%;">Select Employees</a>
              </div>
            </div>
            <ul class="collection dropdown-content" id="crew-<%= crewArray[result]._id %>-employee-dropdown">
              <form id="crew-<%= crewArray[result]._id %>-employee-form">
                <% for (var i in employeeArray) { %>
                  <label>
                    <li class="collection-item" id="employee-<%= employeeArray[i]._id %>-item">
                      <input type="hidden" class="id" id="crew-<%= crewArray[result]._id %>-id" value="<%= crewArray[result]._id %>" />
                      <input type="checkbox" class="newCrewMember" id="employee-<%= employeeArray[i]._id %>-checkbox" name="employee" value="<%= employeeArray[i]._id %>" 
                        <% crewArray[result].employees.forEach((employee) => {
                          if (employeeArray[i]._id.equals(employee)) {%>
                            checked="true"
                          <%}});%> />
                      <span>
                        <%= employeeArray[i].name %> - <%= employeeArray[i].jobTitle %>
                      </span>
                    </li>
                  </label>
                  <% } %>
              </form>
            </ul>
          <% } %>

          <% if (vehicleArray) { %>
            <div class="row">
              <div class="col-12">
                <a id="dropdown-vehicle-crew-<%= crewArray[result]._id %>" class='vehicleDropdown btn' href='' data-target='crew-<%= crewArray[result]._id %>-vehicle-dropdown' style="width: 100%;">Select Vehicles</a>
              </div>
            </div>
            <ul class="collection dropdown-content" id="crew-<%= crewArray[result]._id %>-vehicle-dropdown">
              <form id="crew-<%= crewArray[result]._id %>-vehicle-form">
                <% for (var i in vehicleArray) { %>
                  <label>
                    <li class="collection-item" id="vehicle-<%= vehicleArray[i]._id %>-item">
                      <input type="hidden" class="id" id="crew-<%= crewArray[result]._id %>-id" value="<%= crewArray[result]._id %>" />
                      <input type="checkbox" class="newCrewVehicle" id="vehicle-<%= vehicleArray[i]._id %>-checkbox" name="vehicle" value="<%= vehicleArray[i]._id %>" 
                        <% crewArray[result].vehicles.forEach((vehicle) => {
                          if (vehicleArray[i]._id.equals(vehicle)) {%>
                            checked="true"
                          <%}});%> />
                      <span>
                        <%= vehicleArray[i].name %> - <%= vehicleArray[i].vehicleType %>
                      </span>
                    </li>
                  </label>
                  <% } %>
              </form>
            </ul>
          <% } %>

        </div>
      </div>
    <% } %>
  <% } %>

  <div id="crew-form-div"></div>

  <div id="add-crew">
    <button class="btn waves-effect waves-light right" id="crew-form" onClick="loadForm()">Add Crew
      <i class="material-icons right">add</i>
    </button>
  </div>
  
</div>

<% include partials/foot %>

<script id='crew-form-template' type="text/template">
  <div class="row card-panel">
    <h3>Add an crew</h3>
    <form method="post" action="/crew">
      <div class="input-field">
        <input id="name" type="text" class="validate" name="name">
        <label for="name">Crew Name</label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</script>