<% include partials/head %>

<script src="/js/crews.js"></script>

<div class="container">
  
    <div class="card-content">
      <% id = crew._id %>
      <h3 class="card-title" style="font-weight: bold;"><%= crew.name %></h3>
      <span><%= crew.type %></span>

      <% if (crew.employees.length > 0) { %>
        <h5>Employees: </h5>
        <ul class="collection">
          <% crew.employees.forEach((employee) => { %>
            <li class="collection-item">
              <h6><a href="/employee/<%= employeeArray[employee]._id %>"><%= employeeArray[employee].name %></a></h6>
              <span><%= employeeArray[employee].jobTitle %></span>
            </li>
          <% }); %>
        </ul>
      <% } %>

      <% if (crew.vehicles.length > 0) { %>
        <h5>Vehicles: </h5>
        <ul class="collection">
          <% crew.vehicles.forEach((vehicle) => { %>
            <li class="collection-item">
              <h6><a href="/vehicle/<%= vehicleArray[vehicle]._id %>"><%= vehicleArray[vehicle].name %></a></h6>
              <span><%= vehicleArray[vehicle].vehicleType %></span>
            </li>
          <% }); %>
        </ul>
      <% } %>

      <% if (crew.jobsites.length > 0) { %>
        <h5>Jobsites: </h5>
        <ul class="collection">
          <% crew.jobsites.forEach((jobsite) => { %>
            <li class="collection-item">
              <h6><a href="/jobsite/<%= jobArray[jobsite]._id %>"><%= jobArray[jobsite].name %></a></h6>
            </li>
          <% }); %>
        </ul>
      <% } %>

      <% if (employeeArray) { %>
        <div class="row">
          <div class="col s8">
            <a id="dropdown-employee-crew-<%= crew._id %>" class='employeeDropdown btn' href='' data-target='crew-<%= crew._id %>-employee-dropdown' style="width: 100%;">Select Employees</a>
          </div>
          <div class="col s4" id="add-employee">
            <button class="btn waves-effect waves-light right" id="employee-form" onClick="loadEmployeeForm()">Add Employee
              <i class="material-icons right">add</i>
            </button>
          </div>
        </div>
        <ul class="collection dropdown-content" id="crew-<%= crew._id %>-employee-dropdown">
          <form id="crew-<%= crew._id %>-employee-form">
            <% for (var i in employeeArray) { %>
              <label>
                <li class="collection-item" id="employee-<%= employeeArray[i]._id %>-item">
                  <input type="hidden" class="id" id="crew-<%= crew._id %>-id" value="<%= crew._id %>" />
                  <input type="checkbox" class="newCrewMember" id="employee-<%= employeeArray[i]._id %>-checkbox" name="employee" value="<%= employeeArray[i]._id %>" 
                    <% crew.employees.forEach((employee) => {
                      if (employeeArray[i]._id.equals(employee)) {%>
                        checked="true"
                      <%}});%> />
                  <span>
                    <%= employeeArray[i].name %> - <%= employeeArray[i].jobTitle %>
                  </span>
                </li>
              </label>
              <% } %>
          </form>
        </ul>
      <% } %>

      <% if (vehicleArray) { %>
        <div class="row">
          <div class="col s8">
            <a id="dropdown-vehicle-crew-<%= crew._id %>" class='vehicleDropdown btn' href='' data-target='crew-<%= crew._id %>-vehicle-dropdown' style="width: 100%;">Select Vehicles</a>
          </div>
          <div class="col s4" id="add-vehicle">
            <button class="btn waves-effect waves-light right" id="vehicle-form" onClick="loadVehicleForm()">Add Vehicle
              <i class="material-icons right">add</i>
            </button>
          </div>
        </div>
        <ul class="collection dropdown-content" id="crew-<%= crew._id %>-vehicle-dropdown">
          <form id="crew-<%= crew._id %>-vehicle-form">
            <% for (var i in vehicleArray) { %>
              <label>
                <li class="collection-item" id="vehicle-<%= vehicleArray[i]._id %>-item">
                  <input type="hidden" class="id" id="crew-<%= crew._id %>-id" value="<%= crew._id %>" />
                  <input type="checkbox" class="newCrewVehicle" id="vehicle-<%= vehicleArray[i]._id %>-checkbox" name="vehicle" value="<%= vehicleArray[i]._id %>" 
                    <% crew.vehicles.forEach((vehicle) => {
                      if (vehicleArray[i]._id.equals(vehicle)) {%>
                        checked="true"
                      <%}});%> />
                  <span>
                    <%= vehicleArray[i].name %> - <%= vehicleArray[i].vehicleType %>
                  </span>
                </li>
              </label>
              <% } %>
          </form>
        </ul>
      <% } %>
      <div id="employee-form-div"></div>
      <div id="vehicle-form-div"></div>

    </div>
 
</div>

<% include partials/foot %>

<script id='employee-form-template' type="text/template">
  <div class="row card-panel">
    <h3>Add an employee</h3>
    <form method="post" action="/employee">
      <div class="input-field">
        <input id="name" type="text" class="validate" name="name">
        <label for="name">Employee Name</label>
      </div>
      <div class="input-field">
        <input id="jobTitle" type="text" class="validate" name="jobTitle">
        <label for="jobTitle">Job Title</label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</script>

<script id='vehicle-form-template' type="text/template">
  <div class="row card-panel">
    <h3>Add a Vehicle</h3>
    <form method="post" action="/vehicle">
      <div class="input-field">
        <input id="name" type="text" class="validate" name="name">
        <label for="name">Vehicle Name</label>
      </div>
      <div class="input-field">
        <input id="vehicleCode" type="text" class="validate" name="vehicleCode">
        <label for="vehicleCode">Vehicle Code</label>
      </div>
      <div class="input-field">
        <input id="vehicleType" type="text" class="validate" name="vehicleType">
        <label for="vehicleType">Vehicle Type</label>
      </div>
      <div id="rental-div">
        <label>
          <input type="checkbox" id="rental-toggle" />
          <span>Rental?</span>
        </label>
      </div>
      <div id="source-company-div"></div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</script>

<script id="source-company-form-template" type="text/template">
  <div id="source-company-form">
    <input id="sourceCompany" type="text" class="validate" name="sourceCompany">
    <label for="sourceCompany">Source Company</label>
  </div>
</script>