<% include partials/head %>
  <script src="/js/dailyReport.js"></script>
  <script src="/js/libs/mustache.js"></script>

  <div class="container">
    <h2><a href="/jobsite/<%= job._id %>"><%= job.name %></a></h2>
    <div class="row">
      <h5><%= crew.name %><a href="/crew/<%= crew._id %>">    <i class="tiny material-icons">edit</i></a></h5>
      <% if (locals.user.admin == true) { %>
        <label>
          <input type="checkbox" onClick="toggleApproval('<%=report._id%>')" id="report-<%= report._id %>-approval" 
            <% if (report.approved == true) { %> checked="checked" <%}%> />
          <span>Approved</span>
        </label></br>
        <a href="/report/<%=report._id%>/pdf">Report</a></br>
      <% } %>
      <% if (!locals.user.projectManager == true) { %>
        <a href="" id="edit-button" onclick="loadEditForm(); return false;">Edit <i class="tiny material-icons">edit</i></a></br>
        <div id="edit-form-div"></div>
      <% } %>
      <h6><%= report.date.toDateString(); %></h6>
    </div>

    <% if (Object.keys(employeeArray).length > 0) { %>
      <div class="card-panel" style="padding-bottom: 3em;">
        <h5 class="card-title">Employee Hours</h5>
        <% if (Object.keys(employeeHourArray).length > 0) { %>
          <ul class="collection">
            <% for (var i in employeeHourArray) { %>
              <% var hour = Math.round(Math.abs(employeeHourArray[i].endTime - employeeHourArray[i].startTime) / 3.6e6 * 100) / 100 %>
              <li class="collection-item">

                  <% if (locals.user.projectManager != true) { %>
                    <div id="employee-work-<%=employeeHourArray[i]._id%>-div">
                      <a class="employee-work-edit secondary-content" id="employee-work-<%=employeeHourArray[i]._id%>-edit-button"
                        onClick="loadEmployeeEditForm('<%= employeeHourArray[i]._id %>', '<%= employeeHourArray[i].jobTitle %>', '<%= employeeHourArray[i].startTime %>', '<%= employeeHourArray[i].endTime %>', '<%=employeeHourArray[i].employee%>'); return false;" href="">
                        <i class="material-icons">edit</i>
                      </a>
                    </div>
                    <a class="employee-work-delete secondary-content" onClick="if(confirm('Are you sure?')){deleteEmployeeWorkRequest('<%= employeeHourArray[i]._id %>')}" href=""><i class="material-icons">delete</i></a>
                  <% } %>
                
                <b><%= employeeHourArray[i].jobTitle %></b> - <% if (employeeArray[employeeHourArray[i].employee]){%><%= employeeArray[employeeHourArray[i].employee].name %><%}else{%>'Employee was removed'<%}%></br>
                <%= employeeHourArray[i].startTime.getHours() %>:<%= employeeHourArray[i].startTime.getMinutes()<10?'0':''%><%= employeeHourArray[i].startTime.getMinutes() %> - 
                  <%= employeeHourArray[i].endTime.getHours() %>:<%= employeeHourArray[i].endTime.getMinutes()<10?'0':''%><%= employeeHourArray[i].endTime.getMinutes() %>
                <span>(<%= hour %></span>
                  <% if (hour <= 1) { %> hour<% } else { %> hours<% } %>)
                <div id="employee-<%=employeeHourArray[i]._id%>-work-edit-form-div"></div>
              </li>
            <% } %>
          </ul>
        <% } %>
        <% if (locals.user.projectManager != true) { %> 
          <div id="employee-work-form-div"></div>
          <div id="employee-work-button-div">
            <div id="add-employee-work">
              <button class="btn waves-effect waves-light right" id="crew-form" onClick="loadEmployeeForm()">Add Employee Work
                <i class="material-icons right">add</i>
              </button>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>

    <% if (Object.keys(vehicleArray).length > 0) { %>
      <div class="card-panel" style="padding-bottom: 3em;">
        <h5 class="card-title">Vehicle Hours</h5>
        <% if (Object.keys(vehicleHourArray).length > 0) { %>
          <ul class="collection">
            <% for (var i in vehicleHourArray) { %>
              <% var hour = Math.round(Math.abs(vehicleHourArray[i].endTime - vehicleHourArray[i].startTime) / 3.6e6 * 100) / 100 %>
              <li class="collection-item">
                
                <% if (locals.user.projectManager != true) { %>
                  <div id="vehicle-work-<%=vehicleHourArray[i]._id%>-div">
                    <a class="vehicle-work-edit secondary-content" id="vehicle-work-<%=vehicleHourArray[i]._id%>-edit-button"
                      onClick="loadVehicleEditForm('<%= vehicleHourArray[i]._id %>', '<%= vehicleHourArray[i].jobTitle %>', '<%= vehicleHourArray[i].startTime %>', '<%= vehicleHourArray[i].endTime %>', '<%=vehicleHourArray[i].vehicle%>'); return false;" href="">
                      <i class="material-icons">edit</i>
                    </a>
                  </div>
                  <a class="vehicle-work-delete secondary-content" onClick="if(confirm('Are you sure?')){deleteVehicleWorkRequest('<%= vehicleHourArray[i]._id %>')}" href=""><i class="material-icons">delete</i></a>
                <% } %>

                <b><%= vehicleHourArray[i].jobTitle %></b> - <% if (vehicleArray[vehicleHourArray[i].vehicle]){%><%= vehicleArray[vehicleHourArray[i].vehicle].name %><%}else{%>'Vehicle was removed'<%}%></br>
                <%= vehicleHourArray[i].startTime.getHours() %>:<%= vehicleHourArray[i].startTime.getMinutes()<10?'0':''%><%= vehicleHourArray[i].startTime.getMinutes() %> - 
                  <%= vehicleHourArray[i].endTime.getHours() %>:<%= vehicleHourArray[i].endTime.getMinutes()<10?'0':''%><%= vehicleHourArray[i].endTime.getMinutes() %>
                <span>(<%= hour %></span>
                  <% if (hour <= 1) { %> hour<% } else { %> hours<% } %>)
                <div id="vehicle-<%=vehicleHourArray[i]._id%>-work-edit-form-div"></div>
              </li>
            <% } %>
          </ul>
        <% } %>
        <% if (locals.user.projectManager != true) { %> 
          <div id="vehicle-work-form-div"></div>
          <div id="vehicle-work-button-div">
            <div id="add-vehicle-work">
              <button class="btn waves-effect waves-light right" id="crew-form" onClick="loadVehicleForm()">Add Vehicle Work
                <i class="material-icons right">add</i>
              </button>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>

    <div class="card-panel" style="padding-bottom: 3em;">
      <h5 class="card-title">Production</h5>
      <% if (Object.keys(productionArray).length > 0) { %>
        <ul class="collection">
          <% for (var i in productionArray) { %>
            <% var hour = Math.round(Math.abs(productionArray[i].endTime - productionArray[i].startTime) / 3.6e6 * 100) / 100 %>
            <li class="collection-item">

              <% if (locals.user.projectManager != true) { %>
                <div id="production-edit-<%=productionArray[i]._id%>-div">
                  <a class="production-edit secondary-content" id="production-<%=productionArray[i]._id%>-edit-button"
                    onClick="loadProductionEditForm('<%= productionArray[i]._id %>', '<%= productionArray[i].jobTitle %>', '<%= productionArray[i].quantity %>', '<%= productionArray[i].unit %>', '<%= productionArray[i].startTime %>', '<%= productionArray[i].endTime %>', '<%=productionArray[i].description%>'); return false;" href="">
                  <i class="material-icons">edit</i>
                  </a>
                </div>
                <a class="vehicle-work-delete secondary-content" onClick="if(confirm('Are you sure?')){deleteProductionRequest('<%= productionArray[i]._id %>')}" href=""><i class="material-icons">delete</i></a>
              <% } %>
              
              <b><%= productionArray[i].jobTitle %></b> - <%= productionArray[i].quantity %> <%= productionArray[i].unit %></br>
              <%= productionArray[i].startTime.getHours() %>:<%= productionArray[i].startTime.getMinutes()<10?'0':''%><%= productionArray[i].startTime.getMinutes() %> - 
                <%= productionArray[i].endTime.getHours() %>:<%= productionArray[i].endTime.getMinutes()<10?'0':''%><%= productionArray[i].endTime.getMinutes() %>
              <span>(<%= hour %></span>
                <% if (hour <= 1) { %> hour)<% } else { %> hours)<% } %>
              <div id="production-<%=productionArray[i]._id%>-edit-form-div"></div>
              
            </li>
          <% } %>
        </ul>
      <% } %>
      <% if (locals.user.projectManager != true) { %>
        <div id="production-form-div"></div>
        <div id="production-button-div">
          <div id="add-production">
            <button class="btn waves-effect waves-light right" id="production-form" onClick="loadProductionForm()">Add Production
              <i class="material-icons right">add</i>
            </button>
          </div>
        </div>
      <% } %>
    </div>

    <div class="card-panel" style="padding-bottom: 3em;">
      <h5 class="card-title">Material Shipments</h5>
      <% if (Object.keys(materialArray).length > 0) { %>
        <ul class="collection">
          <% for (var i in materialArray) { %>
            <li class="collection-item">
              
              <% if (locals.user.projectManager != true) { %>
                <div id="material-edit-<%=materialArray[i]._id%>-div">
                  <a class="material-edit secondary-content" id="material-<%=materialArray[i]._id%>-edit-button"
                    onClick="loadMaterialEditForm('<%= materialArray[i]._id %>', '<%= materialArray[i].shipmentType %>', '<%= materialArray[i].quantity %>', '<%= materialArray[i].unit %>', '<%= materialArray[i].vehicle %>'); return false;" href="">
                    <i class="material-icons">edit</i>
                  </a>
                </div>
                <a class="vehicle-work-delete secondary-content" onClick="if(confirm('Are you sure?')){deleteMaterialRequest('<%= materialArray[i]._id %>')}" href=""><i class="material-icons">delete</i></a>
              <% } %>
              
              
              <b><%= materialArray[i].shipmentType %></b> - <%= materialArray[i].quantity %> <%= materialArray[i].unit %></br>
              <% if (vehicleArray[materialArray[i].vehicle]){%><%= vehicleArray[materialArray[i].vehicle].name %> - <%= vehicleArray[materialArray[i].vehicle].vehicleType %><%}else{%>'Vehicle was removed'<%}%>
              <div id="material-<%=materialArray[i]._id%>-edit-form-div"></div>
            </li>
          <% } %>
        </ul>
      <% } %>
      <% if (locals.user.projectManager != true) { %>
        <div id="material-form-div"></div>
        <div id="material-button-div">
          <div id="add-material">
            <button class="btn waves-effect waves-light right" id="material-form" onClick="loadMaterialForm()">Add Shipment
              <i class="material-icons right">add</i>
            </button>
          </div>
        </div>
      <% } %>
    </div>

    <div class="card-panel" style="padding-bottom: 4em;">
      <form class="col s12" method="post" action="/reportnote">
        <div class="input-field col s12">
          <textarea name="note" id="reportnote" class="materialize-textarea"><% if(reportNote){%><%= reportNote.note %><%}%></textarea>
          <label for="reportnote">General Notes</label>
        </div>
        <input type="hidden" name="dailyReport" value="<%= report._id %>" />
        <% if (locals.user.projectManager != true) { %>
          <button class="btn waves-effect waves-light right" type="submit" name="action">Submit Notes
            <i class="material-icons right">send</i>
          </button>
        <% } %>
      </form>
    </div>
    
  </div>

<% include partials/foot %>

<script id='report-edit-form-template' type="text/template">
  <div class="row card-panel report-edit-form-content">
    <form method="post" action="/report/<%= report._id %>/update">
      <div class="input-field">
        <select name="jobId">
          <% for (var i in jobArray) { %>
            <option value="<%= jobArray[i]._id %>" <% if (report.jobsite.equals(jobArray[i]._id)) { %> selected <% } %>>
              <%= jobArray[i].name %>
            </option>
          <% } %>
        </select>
        <label>Job</label>
      </div>
      <div class="input-field">
        <input name="date" id="report-date" type="text" class="datepicker" autocomplete="off" value="<%= report.date %>"/>
        <label for="employee-start-time">Date</label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</script>

<script id='employee-work-form-template' type="text/template">
  <div id="employee-work-form">
    <div class="row card-panel">
      <i class="material-icons right pointer" onclick="removeEmployeeForm()" id="employee-form-close" aria-hidden="true">close</i>
      <h3>Add Employee Work</h3>
      <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'employee' && locals.query.message != '') { %>
        <div class="card red">
          <p class="white-text"><%=locals.query.message%></p>
        </div>
      <% } %>
      <form method="post" action="/employeehour" id="employee-form">
        <div class="row">
          <div class="input-field col s10 m11" id="original-employee-work-div">
            <input name="jobTitle" type="text" id="employee-autocomplete-job-title" class="autocomplete-work" autocomplete="off" autofocus
              <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'employee' && locals.query.jobTitle != '') {%> value="<%=locals.query.jobTitle%>" <%}%>/>
            <label for="employee-autocomplete-job-title">Work Done</label>
          </div>
          <div class="input-field col s2 m1">
            <a class="btn-floating" id="original-employee-work-add-button" onclick="loadExtraEmployeeWork(1)"><i class="material-icons">add</i></a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input name="startTime" id="employee-start-time" type="text" class="timepicker" autocomplete="off" 
              <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'employee' && locals.query.startTime != '') {%> value="<%=locals.query.startTime%>" <%}%>/>
            <label for="employee-start-time">Start Time</label>
          </div>
          <div class="input-field col s6">
            <input name="endTime" id="employee-end-time" type="text" class="timepicker" autocomplete="off" 
              <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'employee' && locals.query.endTime != '') {%> value="<%=locals.query.endTime%>" <%}%>/>
            <label for="employee-end-time">End Time</label>
          </div>
        </div>
        <div id="extra-employee-work-div"></div>
        <div class="hide-on-med-and-up">
          <div class="input-field col s6">
            <select multiple name="employee">
              <% crew.employees.forEach((employeeId) => { %>
                <option value="<%= employeeArray[employeeId]._id %>">
                  <%= employeeArray[employeeId].name %>
                </option>
              <% }); %>
            </select>
            <label>Employee Select</label>
          </div>
        </div>    
        <div class="hide-on-small-only">
          <h6>Employees: </h6>
          <% crew.employees.forEach((employeeId) => { %>
            <div class="input-field col s6">
              <label>
                <input type="checkbox" value="<%= employeeArray[employeeId]._id %>" name="employee" 
                  <% if (Object.keys(locals.query).length !== 0 && typeof locals.query.employee != null && locals.query.item == 'employee') {%> 
                    <% if (typeof locals.query.employee == 'object' && locals.query.employee.some((employee) => employee == employeeArray[employeeId]._id.toString())) { %>
                      checked="checked"
                    <% } else if (typeof locals.query.employee == 'string' && locals.query.employee == employeeArray[employeeId]._id.toString()) { %>
                      checked="checked"
                    <% } %> />
                  <%} else { %>/><%}%> 
                <span><%= employeeArray[employeeId].name %></span>
              </label>
            </div>
          <% }); %>
        </div>
        <input type="hidden" name="dailyReport" value="<%= report._id %>" />
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</script>

<script id="employee-work-form-add-button" type="text/template">
  <div id="employee-work-button-div-content">
    <div id="add-employee-work">
      <button class="btn waves-effect waves-light right" id="crew-employee-form" onClick="loadEmployeeForm()">Add Employee Work
        <i class="material-icons right">add</i>
      </button>
    </div>
  </div>
</script>

<script id="extra-employee-work-template" type="text/template">
  <div id="extra-employee-work-div">
    <div class="row">
      <div class="input-field col s10 m11" id="employee-work-div-{{index}}">
        <input name="jobTitle-{{index}}" type="text" id="employee-autocomplete-job-title-{{index}}" class="autocomplete-work" autocomplete="off" autofocus
          <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'employee' && locals.query.jobTitle != '') {%> value="<%=locals.query.jobTitle %>-{{index}}" <%}%>/>
        <label for="employee-autocomplete-job-title-{{index}}">Work Done</label>
      </div>
      <div class="input-field col s2 m1">
        <a class="btn-floating" id="employee-work-add-button-{{index}}" onclick="loadExtraEmployeeWork({{index}} + 1)"><i class="material-icons">add</i></a>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input name="startTime-{{index}}" id="employee-start-time-{{index}}" type="text" class="timepicker-{{index}}" autocomplete="off" 
          <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'employee' && locals.query.startTime != '') {%> value="<%= locals.query.startTime %>-{{index}}" <%} else { %> value="{{startTime}}" <% } %>/>
        <label for="employee-start-time-{{index}}">Start Time</label>
      </div>
      <div class="input-field col s6">
        <input name="endTime-{{index}}" id="employee-end-time-{{index}}" type="text" class="timepicker-{{index}}" autocomplete="off" 
          <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'employee' && locals.query.endTime != '') {%> value="<%=locals.query.endTime %>-{{index}}" <%}%>/>
        <label for="employee-end-time-{{index}}">End Time</label>
      </div>
    </div>
  </div>
</script>

<script id='employee-work-edit-form-template' type="text/template">
  <div id="employee-work-edit-form">
    <div class="row card-panel">
      <i class="material-icons right pointer" onClick="removeEmployeeEditForm('{{id}}', '{{work}}', '{{start}}', '{{end}}', '{{employeeId}}'); return false;" id="employee-edit-form-close" aria-hidden="true">close</i>
      <h3>Edit Work</h3>
      <form method="post" action="/employeework/{{id}}/update" id="employee-form">
        <div class="input-field col s12">
          <input name="jobTitle" type="text" id="autocomplete-input" class="autocomplete-work" autocomplete="off" value="{{work}}" />
          <span class="helper-text">Work Done</span>
        </div>
        <div class="input-field col s6">
          <input name="startTime" type="text" class="timepicker" autocomplete="off" value="{{start}}" />
          <span class="helper-text">Start Time</span>
        </div>
        <div class="input-field col s6">
          <input name="endTime" type="text" class="timepicker" autocomplete="off" value="{{end}}" />
          <span class="helper-text">End Time</span>
        </div>
        <input type="hidden" name="employee" value="{{employeeId}}" />
        <input type="hidden" name="dailyReport" value="<%= report._id %>" />
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</script>

<script id='employee-edit-form-button' type='text/template'>
  <a class="employee-work-edit secondary-content" id="employee-work-{{id}}-edit-button"
    onClick="loadEmployeeEditForm('{{id}}', '{{jobTitle}}', '{{startTime}}', '{{endTime}}', '{{employeeId}}'); return false;" href="">
    <i class="material-icons">edit</i>
  </a>
</script>

<script id='vehicle-work-form-template' type="text/template">
  <div id="vehicle-work-form">
    <div class="row card-panel">
      <i class="material-icons right pointer" onclick="removeVehicleForm()" id="vehicle-form-close" aria-hidden="true">close</i>
      <h3>Add Vehicle Work</h3>
      <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'vehicle' && locals.query.message != '') { %>
        <div class="card red">
          <p class="white-text"><%=locals.query.message%></p>
        </div>
      <% } %>
      <form method="post" action="/vehiclehour" id="vehicle-form">
        <div class="row">
          <div class="input-field col s10 m11">
            <input name="jobTitle" type="text" id="vehicle-autocomplete-job-title" class="autocomplete-work" autocomplete="off" autofocus
              <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'vehicle' && locals.query.jobTitle != '') {%> value="<%=locals.query.jobTitle%>" <%}%>/>
            <label for="vehicle-autocomplete-job-title">Work Done</label>
          </div>
          <div class="input-field col s2 m1">
            <a class="btn-floating" id="original-vehicle-work-add-button" onclick="loadExtraVehicleWork(1)"><i class="material-icons">add</i></a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input name="startTime" id="vehicle-start-time" type="text" class="timepicker" autocomplete="off" 
              <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'vehicle' && locals.query.startTime != '') {%> value="<%=locals.query.startTime%>" <%}%>/>
            <label for="vehicle-start-time">Start Time</label>
          </div>
          <div class="input-field col s6">
            <input name="endTime" id="vehicle-end-time" type="text" class="timepicker" autocomplete="off" 
              <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'vehicle' && locals.query.endTime != '') {%> value="<%=locals.query.endTime%>" <%}%>/>
            <label for="vehicle-end-time">End Time</label>
          </div>
        </div>
        <div id="extra-vehicle-work-div"></div>
        <div class="hide-on-med-and-up">
          <div class="input-field col s6">
            <select multiple name="vehicle">
              <% crew.vehicles.forEach((vehicleId) => { %>
                <option value="<%= vehicleArray[vehicleId]._id %>">
                  <%= vehicleArray[vehicleId].name %>
                </option>
              <% }); %>
            </select>
            <label>Vehicle Select</label>
          </div>
        </div>    
        <div class="hide-on-small-only">
          <h6>Vehicles: </h6>
          <% crew.vehicles.forEach((vehicleId) => { %>
            <div class="input-field col s6">
              <label>
                <input type="checkbox" value="<%= vehicleArray[vehicleId]._id %>" name="vehicle"
                  <% if (Object.keys(locals.query).length !== 0 && typeof locals.query.vehicle != null && locals.query.item == 'vehicle') {%> 
                    <% if (typeof locals.query.vehicle == 'object' && locals.query.vehicle.some((vehicle) => vehicle == vehicleArray[vehicleId]._id.toString())) { %>
                      checked="checked"
                    <% } else if (typeof locals.query.vehicle == 'string' && locals.query.vehicle == vehicleArray[vehicleId]._id.toString()) { %>
                      checked="checked"
                    <% } %> />
                  <%} else { %>/><%}%> 
                <span><%= vehicleArray[vehicleId].vehicleCode %> - <%= vehicleArray[vehicleId].name %></span>
              </label>
            </div>
          <% }); %>
        </div>
        <input type="hidden" name="dailyReport" value="<%= report._id %>" />
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</script>

<script id="vehicle-work-form-add-button" type="text/template">
  <div id="vehicle-work-button-div">
    <div id="add-vehicle-work">
      <button class="btn waves-effect waves-light right" id="crew-vehicle-form" onClick="loadVehicleForm()">Add Vehicle Work
        <i class="material-icons right">add</i>
      </button>
    </div>
  </div>
</script>

<script id="extra-vehicle-work-template" type="text/template">
  <div id="extra-vehicle-work-div">
    <div class="row">
      <div class="input-field col s10 m11" id="vehicle-work-div-{{index}}">
        <input name="jobTitle-{{index}}" type="text" id="vehicle-autocomplete-job-title-{{index}}" class="autocomplete-work" autocomplete="off" autofocus
          <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'vehicle' && locals.query.jobTitle != '') {%> value="<%=locals.query.jobTitle %>-{{index}}" <%}%>/>
        <label for="vehicle-autocomplete-job-title-{{index}}">Work Done</label>
      </div>
      <div class="input-field col s2 m1">
        <a class="btn-floating" id="vehicle-work-add-button-{{index}}" onclick="loadExtraVehicleWork({{index}} + 1)"><i class="material-icons">add</i></a>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input name="startTime-{{index}}" id="vehicle-start-time-{{index}}" type="text" class="timepicker-{{index}}" autocomplete="off" 
          <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'vehicle' && locals.query.startTime != '') {%> value="<%= locals.query.startTime %>-{{index}}" <%} else { %> value="{{startTime}}" <% } %>/>
        <label for="vehicle-start-time-{{index}}">Start Time</label>
      </div>
      <div class="input-field col s6">
        <input name="endTime-{{index}}" id="vehicle-end-time-{{index}}" type="text" class="timepicker-{{index}}" autocomplete="off" 
          <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'vehicle' && locals.query.endTime != '') {%> value="<%=locals.query.endTime %>-{{index}}" <%}%>/>
        <label for="vehicle-end-time-{{index}}">End Time</label>
      </div>
    </div>
  </div>
</script>

<script id='vehicle-work-edit-form-template' type="text/template">
  <div id="vehicle-work-edit-form">
    <div class="row card-panel">
      <i class="material-icons right pointer" onClick="removeVehicleEditForm('{{id}}', '{{work}}', '{{start}}', '{{end}}', '{{vehicleId}}'); return false;" id="vehicle-edit-form-close" aria-hidden="true">close</i>
      <h3>Edit Work</h3>
      <form method="post" action="/vehiclework/{{id}}/update" id="vehicle-form">
        <div class="input-field col s12">
          <input name="jobTitle" type="text" id="autocomplete-input" class="autocomplete-work" autocomplete="off" value="{{work}}" />
          <span class="helper-text">Work Done</span>
        </div>
        <div class="input-field col s6">
          <input name="startTime" type="text" class="timepicker" autocomplete="off" value="{{start}}" />
          <span class="helper-text">Start Time</span>
        </div>
        <div class="input-field col s6">
          <input name="endTime" type="text" class="timepicker" autocomplete="off" value="{{end}}" />
          <span class="helper-text">End Time</span>
        </div>
        <input type="hidden" name="vehicle" value="{{vehicleId}}" />
        <input type="hidden" name="dailyReport" value="<%= report._id %>" />
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</script>

<script id='vehicle-edit-form-button' type='text/template'>
  <a class="vehicle-work-edit secondary-content" id="vehicle-work-{{id}}-edit-button"
    onClick="loadVehicleEditForm('{{id}}', '{{jobTitle}}', '{{startTime}}', '{{endTime}}', '{{vehicleId}}'); return false;" href="">
    <i class="material-icons">edit</i>
  </a>
</script>

<script id='production-form-template' type="text/template">
  <div id="production-form">
    <div class="row card-panel">
      <i class="material-icons right pointer" onclick="removeProductionForm()" id="production-form-close" aria-hidden="true">close</i>
      <h3>Add Production</h3>
      <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'production' && locals.query.message != '') { %>
        <div class="card red">
          <p class="white-text"><%=locals.query.message%></p>
        </div>
      <% } %>
      <form method="post" action="/production" id="production-form">
        <div class="input-field col s12">
          <input name="jobTitle" type="text" id="autocomplete-job-title-production" class="autocomplete-production" autocomplete="off" autofocus
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'production' && locals.query.jobTitle != '') {%> value="<%=locals.query.jobTitle%>" <%}%>/>
          <label for="autocomplete-job-title-production">Work Completed</label>
        </div>
        <div class="input-field col s8">
          <input name="quantity" id="quantity-production" type="number" step="0.01"
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'production' && locals.query.quantity != '') {%> value="<%=locals.query.quantity%>" <%}%>/>
          <label for="quantity-production">Quantity</label>
        </div>
        <div class="input-field col s4">
          <input name="unit" type="text" id="autocomplete-unit-production" class="autocomplete-units" autocomplete="off" 
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'production' && locals.query.unit != '') {%> value="<%=locals.query.unit%>" <%}%>/>
          <label for="autocomplete-unit-production">Unit</label>
        </div>
        <div class="input-field col s6">
          <input name="startTime" id="start-time-production" type="text" class="timepicker" autocomplete="off" 
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'production' && locals.query.startTime != '') {%> value="<%=locals.query.startTime%>" <%}%>/>
          <label for="start-time-production">Start Time</label>
        </div>
        <div class="input-field col s6">
          <input name="endTime" id="end-time-production" type="text" class="timepicker" autocomplete="off" 
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'production' && locals.query.endTime != '') {%> value="<%=locals.query.endTime%>" <%}%>/>
          <label for="end-time-production">End Time</label>
        </div>
        <div class="input-field col s12">
          <textarea id="description-production" class="materialize-textarea" name="description"><% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'production' && locals.query.description != '') {%><%=locals.query.description%><%}%></textarea>
          <label for="description-production">Description</label>
        </div>
        <input type="hidden" name="dailyReport" value="<%= report._id %>" />
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</script>

<script id="production-form-add-button" type="text/template">
  <div id="production-button-div">
    <div id="add-production">
      <button class="btn waves-effect waves-light right" id="crew-production-form" onClick="loadProductionForm()">Add Production
        <i class="material-icons right">add</i>
      </button>
    </div>
  </div>
</script>

<script id='production-edit-form-template' type="text/template">
  <div id="production-edit-form">
    <div class="row card-panel">
      <i class="material-icons right pointer" onClick="removeProductionEditForm('{{id}}', '{{work}}', '{{quantity}}', '{{unit}}', '{{start}}', '{{end}}', '{{description}}'); return false;" id="vehicle-edit-form-close" aria-hidden="true">close</i>
      <h3>Edit Work</h3>
      <form method="post" action="/production/{{id}}/update" id="production-form">
        <div class="input-field col s12">
          <input name="jobTitle" type="text" id="autocomplete-input" class="autocomplete-work" autocomplete="off" value="{{work}}" />
          <span class="helper-text">Work Done</span>
        </div>
        <div class="input-field col s8">
          <input name="quantity" type="number" step="0.01" value="{{quantity}}">
          <span class="helper-text">Quantity</span>
        </div>
        <div class="input-field col s4">
          <input name="unit" type="text" id="autocomplete-input" class="autocomplete-units" autocomplete="off" value="{{unit}}"/>
          <span class="helper-text">Unit</span>
        </div>
        <div class="input-field col s6">
          <input name="startTime" type="text" class="timepicker" autocomplete="off" value="{{start}}" />
          <span class="helper-text">Start Time</span>
        </div>
        <div class="input-field col s6">
          <input name="endTime" type="text" class="timepicker" autocomplete="off" value="{{end}}" />
          <span class="helper-text">End Time</span>
        </div>
        <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea" name="description">{{description}}</textarea>
          <span class="helper-text">Description</span>
        </div>
        <input type="hidden" name="dailyReport" value="<%= report._id %>" />
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</script>

<script id='production-edit-form-button' type='text/template'>
  <a class="production-edit secondary-content" id="production-{{id}}-edit-button"
    onClick="loadProductionEditForm('{{id}}', '{{jobTitle}}', '{{quantity}}', '{{unit}}', '{{startTime}}', '{{endTime}}', '{{description}}'); return false;" href="">
    <i class="material-icons">edit</i>
  </a>
</script>

<script id='material-form-template' type="text/template">
  <div id="material-form">
    <div class="row card-panel">
      <i class="material-icons right pointer" onclick="removeMaterialForm()" id="material-form-close" aria-hidden="true">close</i>
      <h3>Add Material Shipment</h3>
      <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.message != '') { %>
        <div class="card red">
          <p class="white-text"><%=locals.query.message%></p>
        </div>
      <% } %>
      <form method="post" action="/material" id="material-form">
        <div class="input-field col s12">
          <input name="shipmentType" type="text" id="autocomplete-shipment-type" class="autocomplete-shipment" autocomplete="off" autofocus
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.shipmentType != '') {%> value="<%=locals.query.shipmentType%>" <%}%>/>
          <label for="autocomplete-shipment-type">Shipment Type</label>
        </div>
        <div class="input-field col s8">
          <input name="quantity" type="number" id="shipment-quantity" step="0.01"
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.quantity != '') {%> value="<%=locals.query.quantity%>" <%}%>/>
          <label for="shipment-quantity">Quantity</label>
        </div>
        <div class="input-field col s4">
          <input name="unit" type="text" id="shipment-unit" class="autocomplete-units" autocomplete="off"
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.unit != '') {%> value="<%=locals.query.unit%>" <%}%>/>
          <label for="shipment-unit">Unit</label>
        </div>
        <div class="input-field col s6">
          <input name="startTime" id="shipment-start-time" type="text" class="timepicker" autocomplete="off" 
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.startTime != '') {%> value="<%=locals.query.startTime%>" <%}%>/>
          <label for="shipment-start-time">Start Time (Optional)</label>
        </div>
        <div class="input-field col s6">
          <input name="endTime" id="shipment-end-time" type="text" class="timepicker" autocomplete="off" 
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.endTime != '') {%> value="<%=locals.query.endTime%>" <%}%>/>
          <label for="shipment-end-time">End Time (Optional)</label>
        </div>
        <div class="input-field col s12 m6">
          <input name="source" type="text" id="shipment-source" class="autocomplete-units"
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.source != '') {%> value="<%=locals.query.source%>" <%}%>/>
          <label for="shipment-source">Source Company</label>
        </div>
        <div class="input-field col s6 m3">
          <select name="vehicleType" id="shipment-vehicleType">
            <option value="Tandem" <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.vehicleType != '' && local.query.vehicleType == 'Tandem') {%> selected <%}%>>Tandem</option>
            <option value="Truck and Pup" <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.vehicleType != '' && local.query.vehicleType == 'Truck and Pup') {%> selected <%}%>>Truck and Pup</option>
            <option value="Truck and Tri" <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.vehicleType != '' && local.query.vehicleType == 'Truck and Tri') {%> selected <%}%>>Truck and Tri</option>
            <option value="Sidewinder" <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.vehicleType != '' && local.query.vehicleType == 'Sidewinder') {%> selected <%}%>>Sidewinder</option>
            <option value="Wagon" <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.vehicleType != '' && local.query.vehicleType == 'Wagon') {%> selected <%}%>>Wagon</option>
          </select>
          <label for="shipment-source">Vehicle Type</label>
        </div>
        <div class="input-field col s6 m3">
          <input name="sourceTruckCode" type="text" id="shipment-source-truck-code" 
            <% if (Object.keys(locals.query).length !== 0 && locals.query.item == 'shipment' && locals.query.sourceTruckCode != '') {%> value="<%=locals.query.sourceTruckCode%>" <%}%>/>
          <label for="shipment-source-truck-code">Vehicle Code</label>
        </div>
        <spam>Enter 'Source Company' OR pick vehicle from below</span>
        <div class="hide-on-med-and-up">
          <div class="input-field col s6">
            <select multiple name="vehicle">
              <% crew.vehicles.forEach((vehicleId) => { %>
                <option value="<%= vehicleArray[vehicleId]._id %>">
                  <%= vehicleArray[vehicleId].name %>
                </option>
              <% }); %>
            </select>
            <label>Vehicle Select</label>
          </div>
        </div>  
        <div class="hide-on-small-only">
          <div class="col s12">
            <h6>Vehicles: </h6>
          </div>
          <% crew.vehicles.forEach((vehicleId) => { %>
            <div class="input-field col s6">
              <label>
                <input type="radio" value="<%= vehicleArray[vehicleId]._id %>" name="vehicle" />
                <span><%= vehicleArray[vehicleId].vehicleCode %> - <%= vehicleArray[vehicleId].name %></span>
              </label>
            </div>
          <% }); %>
        </div>
        <input type="hidden" name="dailyReport" value="<%= report._id %>" />
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</script>

<script id="material-form-add-button" type="text/template">
  <div id="material-button-div">
    <div id="add-material">
      <button class="btn waves-effect waves-light right" id="crew-vehicle-form" onClick="loadMaterialForm()">Add Shipment
        <i class="material-icons right">add</i>
      </button>
    </div>
  </div>
</script>

<script id='material-edit-form-template' type="text/template">
  <div id="material-edit-form">
    <div class="row card-panel">
      <i class="material-icons right pointer" onClick="removeMaterialEditForm('{{id}}', '{{shipment}}', '{{quantity}}', '{{unit}}', '{{vehicleId}}'); return false;" id="vehicle-edit-form-close" aria-hidden="true">close</i>
      <h3>Edit Shipment</h3>
      <form method="post" action="/material/{{id}}/update" id="material-form">
        <div class="input-field col s12">
          <input name="shipmentType" type="text" id="autocomplete-input" class="autocomplete-shipment" autocomplete="off" value="{{shipment}}" />
          <span class="helper-text">Shipment Type</span>
        </div>
        <div class="input-field col s8">
          <input name="quantity" type="number" step="0.01" value="{{quantity}}">
          <span class="helper-text">Quantity</span>
        </div>
        <div class="input-field col s4">
          <input name="unit" type="text" id="autocomplete-input" class="autocomplete-units" autocomplete="off" value="{{unit}}"/>
          <span class="helper-text">Unit</span>
        </div>
        <div class="input-field col s6">
          <input name="startTime" type="text" class="timepicker" autocomplete="off" />
          <label for="startTime">Start Time (Optional)</label>
        </div>
        <div class="input-field col s6">
          <input name="endTime" type="text" class="timepicker" autocomplete="off" />
          <label for="endTime">End Time (Optional)</label>
        </div>
        <input type="hidden" name="vehicle" value="{{vehicleId}}" />
        <input type="hidden" name="dailyReport" value="<%= report._id %>" />
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</script>

<script id='material-edit-form-button' type='text/template'>
  <a class="material-edit secondary-content" id="material-{{id}}-edit-button"
    onClick="loadMaterialEditForm('{{id}}', '{{shipment}}', '{{quantity}}', '{{unit}}', '{{vehicleId}}'); return false;" href="">
    <i class="material-icons">edit</i>
  </a>
</script>

<% if (Object.keys(locals.query).length !== 0 ) { %>
  <% if (locals.query.item == 'employee') { %>
    <script>loadEmployeeForm();</script>
  <% } else if (locals.query.item == 'vehicle') { %> 
    <script>loadVehicleForm();</script>
  <% } else if (locals.query.item == 'production') { %>
    <script>loadProductionForm();</script>
  <% } else if (locals.query.item == 'shipment') { %>
    <script>loadMaterialForm();</script>
  <% } %>
<% } %>