<div class="page">
  <% include partials/head %>
  <script src="/js/index.js"></script>

    <div class="container">

      <div class="row">
        <div class="col s8"><span class="flow-text">Choose a Job</span></div>
        <% if(crewArray.length > 1) { %>
          <div class="col s4">
            <a class='crew-dropdown-toggle btn right' href='' data-target='crew-dropdown'>Select Crew</a>
          </div>
          <ul id="crew-dropdown" class="collection dropdown-content">
            <% for (var i in crewArray) { %>
              <li class="collection-item">
                <label>
                  <input class="with-gap crew-selection" type="radio" name="crew" value="<%=crewArray[i]._id%>" 
                    <% if (crewArray[i]._id.equals(locals.query.crew)) { %>
                      checked="true"
                    <% } %> />
                  <span><%= crewArray[i].name %></span>
                </label>
              </li>
            <% } %>
          </ul>
        <% } else if (crewArray.length == 1) { %>
          <div class="col s4">
            <% for (var i in crewArray) { %>
              <body onload="loadURL()"></body>
              <input id="singleCrewSelection" name="crew" type="hidden" value="<%= crewArray[i]._id %>" />
              <% if (locals.query.crew) { %>
                <input id="crewIdCheck" value="<%= locals.query.crew %>" type="hidden" />
              <% } %>
            <% } %>
          </div>
        <% } else { %>
          <div class="row">
              <h3>You must be added to a crew in order to pick a job</h3>
          </div>
        <% } %>
      </div>

      <% if (jobArray) { %>
        <div class="row">
          <% for (var i in jobArray) { %>
            <% if (jobArray[i].crews.toString().includes(locals.query.crew)) { %>
              <div class="col s12 m6">
                <a class="report-link" href="" id="<%=jobArray[i]._id%>">
                  <div class="card" style"padding: 2em;">
                    <span class="card-title"><%= jobArray[i].name %></span>
                    <div class="card-content">
                      <p><%= jobArray[i].description %></p>
                    </div>
                  </div>
                </a>
              </div>
            <% } %>
          <% } %>
       </div>
      <% } %>



      <% if (reportArray) { %>
        <div class="row card-panel">
          <div class="row">
            <div class="col s6">
              <h5>Reports</h5>
            </div>
            <div class="col s6">
              <a class='report-form-dropdown btn right' href='' data-target='report-form'>Add Past Report</a>
              <div id="report-form" class="dropdown-content" style="padding: 0.5em;">
                <form method="post" action="/report">
                  <div class="input-field">
                    <input type="text" name="date" class="datepicker">
                    <label for="date">Date</label>
                  </div>
                  <div class="input-field">
                    <div id="job-select" style="padding: 0.5em;">
                      <% for (var i in jobArray) { %>
                        <% if (jobArray[i].crews.toString().includes(locals.query.crew)) { %>
                          <label>
                            <input class="with-gap" name="jobId" type="radio" value="<%= jobArray[i]._id %>" />
                            <span><%= jobArray[i].name %></span>
                          </label>
                        <% } %>
                      <% } %>
                    </div>
                  </div>
                  <input type="hidden" name="crewId" value="<%= locals.query.crew %>" />
                  <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div style="overflow: scroll; height: 50%;">
            <ul class="collection">
              <% for (var i in reportArray) { %>
                <% if (reportArray[i].crew == locals.query.crew) { %>
                  <li class="collection-item">
                    <b><a href="/report/<%= reportArray[i]._id %>"><%= jobArray[reportArray[i].jobsite].name %></a></b> - 
                    <%= reportArray[i].date.toDateString(); %>
                  </li>
                <% } %>
              <% } %>
            </ul>
          </div>
        </div>
      <% } %>
      
    </div>

  <% include partials/foot %>
</div>

