<div class="page">
  <% include partials/head %>
  <script src="/js/index.js"></script>

    <div class="container">

      <div class="row">
        <div class="col s8"><span class="flow-text">Choose a Job</span></div>
        <% if(crewArray.length > 1) { %>
          <div class="col s4">
            <a class='crew-dropdown-toggle btn right' href='' data-target='crew-dropdown'>Select Crew</a>
          </div>
          <ul id="crew-dropdown" class="collection dropdown-content">
            <% for (var i in crewArray) { %>
              <li class="collection-item">
                <label>
                  <input class="with-gap crew-selection" type="radio" name="crew" value="<%=crewArray[i]._id%>" 
                    <% if (crewArray[i]._id.equals(stuff.query.crew)) { %>
                      checked="true"
                    <% } %> />
                  <span><%= crewArray[i].name %></span>
                </label>
              </li>
            <% } %>
          </ul>
        <% } else if (crewArray.length == 1) { %>
          <div class="col s4">
            <% for (var i in crewArray) { %>
              <body onload="loadURL()"></body>
              <input id="singleCrewSelection" name="crew" type="hidden" value="<%= crewArray[i]._id %>" />
              <% if (stuff.query.crew) { %>
                <input id="crewIdCheck" value="<%= stuff.query.crew %>" type="hidden" />
              <% } %>
            <% } %>
          </div>
        <% } else { %>
          <div class="row">
              <h3>You must be added to a crew in order to pick a job</h3>
          </div>
        <% } %>
      </div>

      <% if (jobArray) { %>
        <div class="row">
          <% for (var i in jobArray) { %>
            <% if (jobArray[i].crews.toString().includes(stuff.query.crew)) { %>
              <div class="card panel">
                <a class="report-link" href="" id="<%=jobArray[i]._id%>"><%= jobArray[i].name %></a>
              </div>
            <% } %>
          <% } %>
       </div>
      <% } %>
      
    </div>

  <% include partials/foot %>
</div>

