<div class="page">
  <% include partials/head %>
  <script src="/js/index.js"></script>

    <div class="container">

      <div class="row">
        <% if (locals.user.admin != true && locals.user.projectManager != true) { %>
          <% if(crewArray.length > 1) { %>
            <div class="col s8"><span class="flow-text">Choose a Job</span></div>
            <div class="col s4">
              <a class='crew-dropdown-toggle btn right' href='' data-target='crew-dropdown'>Select Crew</a>
            </div>
            <ul id="crew-dropdown" class="collection dropdown-content">
              <% for (var i in crewArray) { %>
                <li class="collection-item">
                  <label>
                    <input class="with-gap crew-selection" type="radio" name="crew" value="<%=crewArray[i]._id%>" 
                      <% if (crewArray[i]._id.equals(locals.query.crew)) { %>
                        checked="true"
                      <% } %> />
                    <span><%= crewArray[i].name %></span>
                  </label>
                </li>
              <% } %>
            </ul>
          <% } else if (crewArray.length == 1) { %>
            <div class="col s8"><span class="flow-text">Choose a Job</span></div>
            <div class="col s4">
              <% for (var i in crewArray) { %>
                <body onload="loadURL()"></body>
                <input id="singleCrewSelection" name="crew" type="hidden" value="<%= crewArray[i]._id %>" />
                <% if (locals.query.crew) { %>
                  <input id="crewIdCheck" value="<%= locals.query.crew %>" type="hidden" />
                <% } %>
              <% } %>
            </div>
          <% } else { %>
            <div class="row">
              <h3>You must be added to a crew in order to pick a job</h3>
            </div>
          <% } %>
        <% } %>
      </div>

      <div class="row">
        <% if (jobArray && (locals.user.admin != true && locals.user.projectManager != true)) { %>
          <div style="overflow: scroll; height: 50vh;">
            <% for (var i in jobArray) { %>
              <% if (jobArray[i].crews.toString().includes(locals.query.crew)) { %>
                <div class="col s12 m12">
                  <a class="report-link" href="" id="<%=jobArray[i]._id%>">
                    <div class="card">
                      <span class="card-title"><%= jobArray[i].jobcode %></span>
                      <div class="card-content">
                        <p><b><%= jobArray[i].name %></b></p>
                        <p><%= jobArray[i].description %></p>
                      </div>
                    </div>
                  </a>
                </div>
              <% } %>
            <% } %>
          </div>
        <% } %>
      </div>

      <% if (reportArray) { %>
        <div class="row card-panel">
          <div class="row">
            <div class="col s6">
              <h5>Reports</h5>
            </div>
            <% if (locals.user.admin != true && locals.user.projectManager != true) { %>
              <div class="col s6">
                <a class='report-form-dropdown btn right' href='' data-target='report-form'>Add Past Report</a>
                <div id="report-form" class="dropdown-content" style="padding: 0.5em;">
                  <form method="post" action="/report">
                    <div class="input-field">
                      <input type="text" name="date" class="datepicker">
                      <label for="date">Date</label>
                    </div>
                    <div class="input-field">
                      <div id="job-select" style="padding: 0.5em; overflow: scroll; overflow-x: hidden;">
                        <% for (var i in jobArray) { %>
                          <label>
                            <input class="with-gap" name="jobId" type="radio" value="<%= jobArray[i]._id %>" />
                            <span><%= jobArray[i].jobcode %> - <%= jobArray[i].name %></span>
                          </label></br>
                        <% } %>
                      </div>
                    </div>
                    <input type="hidden" name="crewId" value="<%= locals.query.crew %>" />
                    <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                    </button>
                  </form>
                </div>
              </div>
            <% } %>
          </div>
          <% if (locals.query.jobs || locals.query.date) { %>
            <body onload="filterFormOn()"></body>
          <% } %>
          <div class="row">   
            <div class="col s12">
              <div class='btn-flat waves-effect waves-red right' id="filter-toggle" onclick='filterFormOn()'><i class="material-icons right">sort</i>filter</div>   
            </div>
            <div id="filter-form-container"></div>           
          </div>
          <div style="overflow: scroll; height: 70vh;">
            <ul class="collection">
              <% var reportCount = 0 %>
              <% for (var i in reportArray) { %>
                <% if (reportArray[i].crew == locals.query.crew || locals.user.admin == true || locals.user.projectManager == true) { %>
                  <% if (locals.query.jobs || locals.query.date) { %>
                    <!-- If filter for jobs and not date -->
                    <% if (locals.query.jobs && !locals.query.date) { %>
                      <% if (locals.query.jobs.includes(reportArray[i].jobsite.toString())) { %>
                        <li class="collection-item">
                          <b><a href="/report/<%= reportArray[i]._id %>"><%= jobArray[reportArray[i].jobsite].name %></a></b> - 
                          <%= reportArray[i].date.toDateString(); %>
                        </li>
                        <% reportCount++ %>
                      <% } %>
                    <% } %>
                    <!-- If filter for date and not jobs -->
                    <% if (!locals.query.jobs && locals.query.date) { %>
                      <% if (new Date(reportArray[i].date).setHours(0,0,0,0) == new Date(locals.query.date).setHours(0,0,0,0)) { %>
                        <li class="collection-item">
                          <b><a href="/report/<%= reportArray[i]._id %>"><%= jobArray[reportArray[i].jobsite].name %></a></b> - 
                          <%= reportArray[i].date.toDateString(); %>
                        </li>
                        <% reportCount++ %>
                      <% } %>
                    <% } %>

                    <!-- If filter for both jobs and date -->
                    <% if (locals.query.jobs && locals.query.date) { %>
                      <% if (new Date(reportArray[i].date).setHours(0,0,0,0) == new Date(locals.query.date).setHours(0,0,0,0) && locals.query.jobs.includes(reportArray[i].jobsite.toString())) { %>
                        <li class="collection-item">
                          <b><a href="/report/<%= reportArray[i]._id %>"><%= jobArray[reportArray[i].jobsite].name %></a></b> - 
                          <%= reportArray[i].date.toDateString(); %>
                        </li>
                        <% reportCount++ %>
                      <% } %>
                    <% } %>
                    
                  <% } else { %>
                    <!-- No filter -->
                    <li class="collection-item">
                      <b><a href="/report/<%= reportArray[i]._id %>"><%= jobArray[reportArray[i].jobsite].name %></a></b> - 
                      <%= reportArray[i].date.toDateString(); %>
                    </li>
                    <% reportCount++ %>
                  <% } %>
                <% } %>
              <% } %>
            </ul>
            <% if (reportCount == 0) { %> <h4 class="center-align">No Reports were found</h4> <% } %>
          </div>
        </div>
      <% } %>
      
    </div>

  <% include partials/foot %>
</div>

<script id='filter-form-template' type="text/template">
  <div id="filter-form">
    <div class="col s12 m5 l5">
      <div class="input-field row">
        <select multiple id="filter-job-select">
          <% for (var i in jobArray) { %>
            <% if (locals.query.crew) { %>
              <% if (jobArray[i].crews.toString().includes(locals.query.crew)) { %>
                <option value="<%= jobArray[i]._id %>"
                  <% if (locals.query.jobs != undefined) { %> 
                    <% if (locals.query.jobs.includes(jobArray[i]._id.toString())) { %> 
                      selected 
                    <% } %>
                  <% } %> 
                >
                  <%= jobArray[i].jobcode %> - 
                  <%= jobArray[i].name %>
                </option>
              <% } %>
            <% } else { %>
              <option value="<%= jobArray[i]._id %>"
                <% if (locals.query.jobs != undefined) { %> 
                  <% if (locals.query.jobs.includes(jobArray[i]._id.toString())) { %> 
                    selected 
                  <% } %>
                <% } %> 
              >
                <%= jobArray[i].jobcode %> - 
                <%= jobArray[i].name %>
              </option>
            <% } %>
          <% } %>
        </select>
        <label>Select Job(s)</label>
      </div>  
    </div>
    <div class="col s12 m2 l2">
      <p class="center-align">and / or</p>
    </div>
    <div class="col s12 m5 l5">
      <div class="input-field">
        <input id="filter-date-select" type="text" name="date" class="filterdatepicker"
          <% if (locals.query.date) { %>
            value="<%= decodeURIComponent(locals.query.date) %>"
          <% } %>
        />
        <label id="filter-date-select-label" for="date">Date</label>
      </div>
    </div>
  </div>
</script>

