<% include partials/head %>
<script src="/js/jobsiteIndex.js"></script>
<script src="/js/libs/mustache.js"></script>

<div class="container"> 
  <div class="row">
    <h1>Job List</h1>

    <div id="jobsite-form-div"></div>
  
    <div id="add-jobsite">
      <button class="btn waves-effect waves-light right" id="jobsite-form" onClick="loadForm()">Add New Job
        <i class="material-icons right">add</i>
      </button>
    </div>
  </div>

  <% if (jobArray) { %>
    <table class="highlight">
      <thead>
        <th>Job Number</th>
        <th>Job Name</th>
        <th>Description</th>
        <th>Options</th>
      </thead>
      <tbody>
        <% for (var i in jobArray) { %>
          <tr>
            <td style="vertical-align:top;"><%= jobArray[i].jobcode %></td>
            <td style="vertical-align:top;"><a href="/jobsite/<%= jobArray[i]._id %>"><b><%= jobArray[i].name %></b></a></td>
            <td style="vertical-align:top;"><%= jobArray[i].description %></td>
            <td style="vertical-align:top;">
              <label>
                <input type="checkbox" onClick="toggleApproval('<%=jobArray[i]._id%>')" id="job-<%= jobArray[i]._id %>-activation" 
                  <% if (jobArray[i].active == true) { %> checked="checked" <%}%> /><span>Active</span>
              </label></br>
              <a class="jobsite-delete secondary-content" onClick="if(confirm('Are you sure?')) {deleteRequest('<%= jobArray[i]._id %>')}" href=""><i class="material-icons">delete</i></a>
              <a class="crew-edit secondary-content" id="job-<%= jobArray[i]._id %>-edit-button" onClick="editRequest('<%= jobArray[i]._id %>', &quot;<%= jobArray[i].name %>&quot;, '<%= jobArray[i].description %>', '<%= jobArray[i].jobcode %>'); return false;" href=""><i class="material-icons">edit</i></a>
            </td>
          </tr>
          <tr>
            <td colspan="5"><div id="job-<%= jobArray[i]._id %>-edit-container"></div></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    
  <% } %> 

</div>

<% include partials/foot %>

<script id='jobsite-form-template' type="text/template">
  <div class="row card-panel">
    <h3>Add a Job</h3>
    <form method="post" action="/jobsite/new">
      <div class="input-field">
          <input id="name" type="text" class="validate" name="name">
          <label for="name">Job Name</label>
        </div>
        <div class="input-field">
          <input id="jobcode" type="text" class="validate" name="jobcode">
          <label for="jobcode">Job Code</label>
        </div>
        <div class="input-field">
          <textarea id="description" class="materialize-textarea" name="description"></textarea>
          <label for="description">Description</label>
        </div>
        <div class="row">
          <label>Crew Assign</label>
          <select multiple name="crews">
            <% for(var c in crewArray) { %>
              <option value="<%= crewArray[c]._id %>">
                <%= crewArray[c].name %>
              </option>
            <% } %>
          </select>
        </div>
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
    </form>
  </div>
</script>

<script id='jobsite-edit-form-template' type="text/template">
  <div class="row card-panel">
    <h3>Edit {{name}}</h3>
    <form method="post" action="/jobsite/{{id}}/update">
      <div class="input-field">
          <input id="name" type="text" class="validate" name="name" value="{{name}}">
          <label class="active" for="name">Job Name</label>
        </div>
        <div class="input-field">
          <input id="jobcode" type="text" class="validate" name="jobcode" value="{{jobcode}}">
          <label class="active" for="jobcode">Job Code</label>
        </div>
        <div class="input-field">
          <textarea id="description" class="materialize-textarea" name="description">{{description}}</textarea>
          <label class="active" for="description">Description</label>
        </div>
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
    </form>
  </div>
</script>

<script>
    function toggleApproval(id) {
      if ($('#job-'+ id + '-activation').is(':checked')) {
        $.ajax({
          type: 'POST',
          url: '/jobsite/' + id + '/activate',
          success: function() {
            location.reload();
          }
        });
      } else {
        $.ajax({
          type: 'POST',
          url: '/jobsite/' + id + '/disactivate',
          success: function() {
            location.reload();
          }
        });
      }
    };
  </script>