<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link type='text/css' rel="stylesheet" href="<% if (locals.session.cookie.httpOnly == true){%>http<%}else{%>https<%}%>://<%=locals.baseUrl%>/css/materialize.min.css"/>
    <link type='text/css' rel="stylesheet" href="<% if (locals.session.cookie.httpOnly == true){%>http<%}else{%>https<%}%>://<%=locals.baseUrl%>/css/style.css" />
    <style>
      html * 
      {
        font-size: 1.5vw !important;
      }
      td {
        padding: 1em;
        margin: 1em;
      }
    </style>
  </head>
  <body>
    
    <div class="row" style="margin-bottom: 0em;">
      <div class="col s12">
        <a href="/report/<%=report._id%>"><h5 style="display: inline;"><%= job.jobcode %> <%= job.name %></h5></a> - 
        <span><%= crew.name %><a href="/crew/<%= crew._id %>"></a></span> - 
        <span><%= report.date.toDateString(); %></span>
        <span> - <%= report.id %></span>
      </div>
    </div>

    <!-- Employee Hours -->
    <div class="row" style="margin-top: 0em;">
      <div class="col s6">
        <% if (Object.keys(employeeHourArray).length > 0) { %>
          <% employeeHourArray.sort(function(a,b) {return (employeeArray[a.employee].name > employeeArray[b.employee].name) ? 1 : ((employeeArray[b.employee].name > employeeArray[a.employee].name) ? -1 : 0);} ); %>
          <u><h6>Employee Hours</h6></u>
          <table class="striped">
            <thead>
              <tr style="height: 0;">
                <th>Employee</th>
                <th>Job</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Hours</th>
              </tr>
            </thead>
            <tbody>
              <% var totalEmployeeHours = 0, prevEmployeeID %>
              <% for (var i in employeeHourArray) { %>
                <% if (prevEmployeeID != employeeHourArray[i].employee.toString() && prevEmployeeID != undefined) { %>
                  <tr style="line-height: 0.1em;">
                    <td><b>Total</b></td><td></td><td></td><td></td>
                    <td>
                      <b><%= totalEmployeeHours.toFixed(2) %></b>
                    </td>
                  </tr>
                  <% totalEmployeeHours = 0 %>
                <% } %>
                <% prevEmployeeID = employeeHourArray[i].employee %>
                <tr style="line-height: 0.1em;">
                  <td><% if (employeeArray[employeeHourArray[i].employee]){%><%= employeeArray[employeeHourArray[i].employee].name %><%}else{%>'Employee was removed'<%}%></td>
                  <td><%= employeeHourArray[i].jobTitle.substring(0, 13) %></td>
                  <td><%= employeeHourArray[i].startTime.getHours() %>:<%= employeeHourArray[i].startTime.getMinutes()<10?'0':''%><%= employeeHourArray[i].startTime.getMinutes() %></td>
                  <td><%= employeeHourArray[i].endTime.getHours() %>:<%= employeeHourArray[i].endTime.getMinutes()<10?'0':''%><%= employeeHourArray[i].endTime.getMinutes() %></td>
                  <td><%= Math.round(Math.abs(employeeHourArray[i].endTime - employeeHourArray[i].startTime) / 3.6e6 * 100) / 100 %></td>
                  <% totalEmployeeHours += Math.round(Math.abs(employeeHourArray[i].endTime - employeeHourArray[i].startTime) / 3.6e6 * 100) / 100 %> 
                </tr>
              <% } %>
              <tr style="line-height: 0.1em;">
                <td><b>Total</b></td><td></td><td></td><td></td>
                <td>
                  <b><%= totalEmployeeHours.toFixed(2) %></b>
                </td>
              </tr> 
            </tbody>
          </table>
        <% } %>
      </div>

      <!-- Vehicle Hours -->
      <div class="col s6">
        <% if (Object.keys(vehicleHourArray).length > 0) { %>
          <% vehicleHourArray.sort(function(a,b) {return (vehicleArray[a.vehicle].name > vehicleArray[b.vehicle].name) ? 1 : ((vehicleArray[b.vehicle].name > vehicleArray[a.vehicle].name) ? -1 : 0);} ); %>
          <u><h6>Vehicle Hours</h6></u>
          <table class="striped">
            <thead>
              <tr>
                <th>Vehicle</th>
                <th>Job</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Hours</th>
              </tr>
            </thead>
            <tbody>
              <% var totalVehicleHours = 0, prevVehicleID %>
              <% for (var i in vehicleHourArray) { %>
                <% if (prevVehicleID != vehicleHourArray[i].vehicle.toString() && prevVehicleID != undefined) { %>
                  <tr style="line-height: 0.1em;">
                    <td><b>Total</b></td><td></td><td></td><td></td>
                    <td>
                      <b><%= totalVehicleHours.toFixed(2) %></b>
                    </td>
                  </tr>
                  <% totalVehicleHours = 0 %>
                <% } %>
                <% prevVehicleID = vehicleHourArray[i].vehicle %>
                <tr style="line-height: 0.1em;">
                  <td><% if (vehicleArray[vehicleHourArray[i].vehicle]){%>(<%= vehicleArray[vehicleHourArray[i].vehicle].vehicleCode %>) <%= vehicleArray[vehicleHourArray[i].vehicle].name %><%}else{%>'Vehicle was removed'<%}%></td>
                  <td><%= vehicleHourArray[i].jobTitle.substring(0, 13) %></td>
                  <% if (vehicleHourArray[i].startTime) { %>
                    <td><%= vehicleHourArray[i].startTime.getHours() %>:<%= vehicleHourArray[i].startTime.getMinutes()<10?'0':''%><%= vehicleHourArray[i].startTime.getMinutes() %></td>
                  <% } else { %>
                    <td></td>
                  <% } %>
                  <% if (vehicleHourArray[i].endTime) { %>
                    <td><%= vehicleHourArray[i].endTime.getHours() %>:<%= vehicleHourArray[i].endTime.getMinutes()<10?'0':''%><%= vehicleHourArray[i].endTime.getMinutes() %></td>
                  <% } else { %>
                    <td></td>
                  <% } %>
                  <% if (vehicleHourArray[i].startTime && vehicleHourArray[i].endTime) { %>
                    <td><%= Math.round(Math.abs(vehicleHourArray[i].endTime - vehicleHourArray[i].startTime) / 3.6e6 * 100) / 100 %></td>
                    <% totalVehicleHours += Math.round(Math.abs(vehicleHourArray[i].endTime - vehicleHourArray[i].startTime) / 3.6e6 * 100) / 100 %>
                  <% } else { %>
                    <td><%= vehicleHourArray[i].hours %></td>
                    <% totalVehicleHours += vehicleHourArray[i].hours %>
                  <% } %>
                </tr>
              <% } %>
              <tr style="line-height: 0.1em;">
                <td><b>Total</b></td><td></td><td></td><td></td>
                <td>
                  <b><%= totalVehicleHours.toFixed(2) %></b>
                </td>
              </tr>
            </tbody>
          </table>
        <% } %>
      </div>
    </div> 

    <!-- Production -->
    <div class="row" style="margin-top: 0em;">
      <div class="col s6">
          <% if (Object.keys(productionArray).length > 0) { %>
            <u><h6>Production</h6></u>
            <table class="striped">
              <thead>
                <tr>
                  <th>Job</th>
                  <th>Quantity</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Hours</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i in productionArray) { %>
                  <tr>
                    <td><%= productionArray[i].jobTitle %></td>
                    <td><%= productionArray[i].quantity %> <%= productionArray[i].unit %></td>
                    <td><%= productionArray[i].startTime.getHours() %>:<%= productionArray[i].startTime.getMinutes()<10?'0':''%><%= productionArray[i].startTime.getMinutes() %></td>
                    <td><%= productionArray[i].endTime.getHours() %>:<%= productionArray[i].endTime.getMinutes()<10?'0':''%><%= productionArray[i].endTime.getMinutes() %></td>
                    <td><%= Math.round(Math.abs(productionArray[i].endTime - productionArray[i].startTime) / 3.6e6 * 100) / 100 %></td>
                  </tr>
                <% } %> 
              </tbody>
            </table>
          <% } %>
      </div>

      <!-- Material Shipments -->
      <div class="col s6">
        <% if (Object.keys(materialArray).length > 0) { %>
          <% materialArray.sort(function(a,b) {return (a.shipmentType > b.shipmentType) ? 1 : ((b.shipmentType > a.shipmentType) ? -1 : 0);} ); %>
          <u><h6>Material Shipments</h6></u>
          <table class="striped">
            <thead>
              <tr>
                <th>Shipment</th>
                <th>Quantity</th>
                <th>Vehicle</th>
                <th>Hours</th>
              </tr>
            </thead>
            <tbody>
              <% var totalMaterial = 0, totalMaterialHours = 0, prevShipment %>
              <% for (var i in materialArray) { %>
                <% if (prevShipment != materialArray[i].shipmentType && prevShipment != undefined) { %>
                  <tr style="line-height: 0.1em;">
                    <td><b>Total</b></td>
                    <td>
                      <b><%= totalMaterial %></b>
                    </td>
                    <td></td>
                    <td>
                      <b><%= totalMaterialHours %></b>
                    </td>
                  </tr>
                  <% totalMaterialHours = 0, totalMaterial = 0 %>
                <% } %>
                <% prevShipment = materialArray[i].shipmentType %>
                <tr style="line-height: 0.1em;">
                  <td><%= materialArray[i].supplier %> <%= materialArray[i].shipmentType.substring(0, 13) %></td>
                  <td><%= materialArray[i].quantity %> <%= materialArray[i].unit %></td>
                  <% totalMaterial += materialArray[i].quantity %>
                  <% if (materialArray[i].vehicle) { %>
                    <td><% if (vehicleArray[materialArray[i].vehicle]){%><%= vehicleArray[materialArray[i].vehicle].name %> - <%= vehicleArray[materialArray[i].vehicle].vehicleType %><%}else{%>'Vehicle was removed'<%}%></td>
                  <% } else if (materialArray[i].vehicleObject) { %>
                    <% if (materialArray[i].vehicleObject.source && materialArray[i].vehicleObject.vehicleType) { %><td><%= materialArray[i].vehicleObject.source %> <%= materialArray[i].vehicleObject.vehicleType %></td><% } else { %><td>This Vehicle did not save properly</td><% } %>
                  <% } %>
                  <td><%= Math.round(Math.abs(materialArray[i].endTime - materialArray[i].startTime) / 3.6e6 * 100) / 100 %></td>
                  <% if (typeof (Math.round(Math.abs(materialArray[i].endTime - materialArray[i].startTime) / 3.6e6 * 100) / 100) == 'number') { %>
                    <% totalMaterialHours += Math.round(Math.abs(materialArray[i].endTime - materialArray[i].startTime) / 3.6e6 * 100) / 100 %>
                  <% } %>
                </tr>
              <% } %> 
              <tr style="line-height: 0.1em;">
                <td><b>Total</b></td>
                <td>
                  <b><%= totalMaterial %></b>
                </td>
                <td></td>
                <td>
                  <b><%= totalMaterialHours %></b>
                </td>
              </tr>
            </tbody>
          </table>
        <% } %>
      </div>
    </div>

    <% if (reportNote) { %>
      <div class="row">
        <h6>General Notes:</h6>
        <p><%= reportNote.note %></p>
      </div>
    <% } %>
  </body>
</html>
