<% include partials/head %>
  
  <script src="/js/reportIndex.js"></script>

  <div class="container">
    <table class="highlight">

      <thead>
        <tr>
          <% if (!locals.user.projectManager) { %>
            <th>Approval</th>
          <% } %>
          <th>Jobsite</th>
          <th>Crew</th>
          <th>Date</th>
          <th>Report</th>
          <th>Option</th>
        </tr>
      </thead>

      <tbody>
        <% for (var i in reportArray) { %>
          <tr>
            <% if (!locals.user.projectManager) { %>
              <td><label><input type="checkbox" onClick="toggleApproval('<%=reportArray[i]._id%>')" id="report-<%= reportArray[i]._id %>-approval" 
                <% if (reportArray[i].approved == true) { %> checked="checked" <%}%> /><span></span></label>
              </td>
            <% } %>
            <td>
              <% if (reportArray[i].employeeWork.length < 1 && reportArray[i].vehicleWork.length < 1 && reportArray[i].production.length < 1 && reportArray[i].materialShipment.length < 1) { %>
                <i class="material-icons">radio_button_unchecked</i>
              <% } else { %>
                <i class="material-icons">radio_button_checked</i>
              <% } %>
              <a href="/report/<%= reportArray[i]._id %>"><%=jobArray[reportArray[i].jobsite].name%></a>
            </td>
            <td><%= crewArray[reportArray[i].crew].name %></td>
            <% dateArray = reportArray[i].date.toString().split(' ') %>
            <td><%= dateArray[0] %>, <%= dateArray[1] %> <%= dateArray[2] %></td>
            <td><a href="/report/<%= reportArray[i]._id %>/pdf">PDF</a></td>
            <td><a class="report-delete secondary-content" onClick="if(confirm('Are you sure?')){deleteReportRequest('<%= reportArray[i]._id %>')}" href=""><i class="material-icons">delete</i></a></td>
          </tr>
        <% } %> 
      </tbody>
 
    </table>
  </div>

<% include partials/foot %>

<script>
  function toggleApproval(id) {
    if ($('#report-'+ id + '-approval').is(':checked')) {
      $.ajax({
        type: 'POST',
        url: '/report/' + id + '/approve',
        success: function() {
          location.reload();
        }
      });
    } else {
      $.ajax({
        type: 'POST',
        url: '/report/' + id + '/disapprove',
        success: function() {
          location.reload();
        }
      });
    }
  };
</script>