<% include ../partials/head %>

<script src="/js/employee.js"></script>

<div class="container">
  <h1>Employee List</h1>
  <% if (employeeArray) { %>
    <% for (var result in employeeArray) { %>
      <div class="card-panel hoverable">
        <% id = employeeArray[result]._id %>
        <a class="employee-delete secondary-content" onClick="if(confirm('This action is not recommended, are you sure? This will remove this employee from all reports!')){deleteRequest('<%= id %>')}" href=""><i class="material-icons">delete</i></a>
        <h5><a href="/employee/<%=employeeArray[result]._id%>"><%= employeeArray[result].name %></a></h5>
        <p><%= employeeArray[result].jobTitle %></p>
        <% if (employeeArray[result].user !== undefined) { %>
          <span>User: </span><%= userArray[employeeArray[result].user].name %>
        <% } %>
        <% if (employeeArray[result].crews.length > 0) { %>
          <h5>Crews</h5>
          <ul class="collection">
            <% for (var i in crewArray) { %>
              <% employeeArray[result].crews.forEach((crewId) => { %>
                <% if (crewArray[i]._id.equals(crewId)) { %>
                  <li class="collection-item">
                    <%= crewArray[i].name %>
                  </li>
                <%}%>
              <% }); %>
            <% } %>
          </ul>
        <% } %>
        </div>
    <% } %>
  <% } %>

  <div id="employee-form-div"></div>

  <div id="add-employee">
    <button class="btn waves-effect waves-light right" id="employee-form" onClick="loadForm()">Add Employee
      <i class="material-icons right">add</i>
    </button>
  </div>
  
</div>

<% include ../partials/foot %>

<script id='employee-form-template' type="text/template">
  <div class="row card-panel">
    <h3>Add an employee</h3>
    <form method="post" action="/employee">
      <div class="input-field">
        <input id="name" type="text" class="validate" name="name">
        <label for="name">Employee Name</label>
      </div>
      <div class="input-field">
        <input id="jobTitle" type="text" class="validate" name="jobTitle">
        <label for="jobTitle">Job Title</label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</script>